<html>
  <head>
    <title>StackOverSearch - новый запрос</title>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" >
    <script src="static/js/sos.js" type="text/javascript"></script>
    <meta charset="UTF-8">
  </head>
  <body class="bg-faded">
    <br>
    <center>
      <div class="col-sm-6">
      <div class="card" style="border-color: #24CEEA;">
        <div class="card-block">
          <div id=ws_msg></div>
          <br>
          <img src="static/gh.jpg" width="100"/>
          <strong><h4 class="card-title">StackOverSearch</h4></strong>
          <h5><small class="text-muted">Быстрый поиск по StackExchange API</small></h5>
          <br>
          <p>
            <a href="/show_all"><button class="btn btn-info btn-block btn-sm">Посмотреть все запросы</button></a>
          </p>
          <center>
            <form action="" method="GET" accept-charset="utf-8">
                <div class="form-group row">
                  <div class="col-3">
                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" name="page_number" id="page_number">
                      <option value="" selected>Кол-во...</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                  </div>
                  <div class="col-5">
                    <input class="form-control" type="text" placeholder="Введите ключевое слово" value='' name="intitle" id="intitle">
                  </div>
                  <div class="col-4">
                    <input class="btn btn-info btn-block" type="Submit" value="Search">
                  </div>
                  <input type="hidden" value=1 name="page">
                </div>
            </form>
          </center>
            {% if error %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endif %}
            {% if htmlreq %}
            <div class="alert alert-success" role="alert">{{ data }}</div>
            {% endif %}
        </div>
      </div>
      </div>
    </center>
    <br>
  </body>
</html>
